@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

h2, .like-h2 {
  font-size: 54px;
  line-height: 61px;
  color: $blue-green;
  font-weight: 800; /* extra bold */
  margin-bottom: 15px;
}

h3, .like-h3 {
  font-size: 37px;
  line-height: 44px;
  color: $blue-green;
  font-weight: 800; /* extra bold */
  margin-bottom: 15px;
  &.navy-blue {
    @extend .navy-blue;
  }
}

h4, .like-h4 {
  font-size: 20px;
  line-height: 24px;
  color: $lime;
  font-weight: 800; /* extra bold */
  margin-bottom: 15px;
}

p {
  font-size: 20px;
  line-height: 29px;
  color: $black;
  font-weight: 400;
}

@media (max-width: $mobile-md) {
  h2 {
    font-size: 36px;
    line-height: 48px;
  }

  h3 {
    font-size: 30px;
    line-height: 38px;
  }

  p, p a {
    font-size: 16px;
    line-height: 24px;
  }
}