//colors
$white: #fff;
$black: #000;
$light-gray: #EEEEEE;
$almost-light-gray: #DEDEDE;
$medium-gray: #75787B;
$dark-gray: #45484D;
$light-blue-green: #859c9f;
$blue-green: #0B3A40;
$dark-blue-green: #082b2f;
$bright-blue-green: #006F62;
$navy-blue: #0B3A40;
$lime: #97D700;

// breaks

$mobile-sm: 768px;
$mobile-md: 992px; 